*{margin: 0;
padding: 0;
box-sizing: border-box;}

.nav a:hover{background-color: rgb(194, 58, 8) !important;
    color: white !important;}

#logo{width: 8rem;}

.heading-h1{height: 17vh;
background-color: gray;}


header{
    min-height: 10vh;
}

main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}


.social{width: 1.6rem;
transition: transform 1s ease;}

.social:hover{transform: translateY(-3px);}

.card img{
    height: 10rem;
}

.card {border: 1px solid black !important;
margin: 3px;}

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:gray;
    padding-right: 1rem;
    height: 10vh;
}

form{
border: 1px solid black;
margin-top: 2vh;}

.panflin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
} 